$blue: #0288d1;
$black: #2c2c2c;
$gray: #9a9999;
$light-gray: #e8e8e8;
$orange: #f88a00;
$regular: "ProximaNova-Regular", sans-serif;
$font-black: "ProximaNova-Black", sans-serif;
$bold: "ProximaNova-Bold", sans-serif;
$semibold: "ProximaNova-Semibold", sans-serif;